.carouselView{
  margin-left: 10px;
  margin-right: 10px;
}

/*Show dots to change carousel images*/
.carouselView button.rec-dot{
  margin-top: 0px;
  position:relative;
  visibility: visible;
}

/*Color of dots to change page*/
.carouselView button.rec-dot{
  background-color: rgb(255, 199, 8);
}
/*Color of dots to change page on focus*/
.carouselView button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgb(2, 45, 189);
}

