.footer-con {
  background-color: #e5e5e5;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-top: auto;
  padding-left: 5%;
}

.footer-logo{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 5px;
}

.footer-link{
  margin-top: 50px;
  color: inherit;
  text-decoration: inherit;
  padding-left: 10px;
  font-size: 1.1em;
}

.footer-link:hover{
  color: blue;
}
