.help-con h2{
    text-align: center;
    background-color: #ecd390;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2em;
}

.help-wrap div{
    margin: 20px 20% 20px 20%;
    text-align: center;
    line-height: 1.6;
    border-color: #ecd390;
    border-style: solid ;
    border-width: 15px;
    border-radius: 20px;
}

.help-con p{
    text-align: left;
    margin-left: 15px;
}


