.smallCarousel{
    font-family: sans-serif;
    text-align: center;
    width:295px;
    border-width: 2px;
    border-color: #c6c7c7;
    border-style: solid;
    background-color: #cdcece;
    margin-left: 10px;
    padding-bottom: 0px;
}

.carousel500px{
    font-family: sans-serif;
    text-align: center;
    width:500px;
    border-width: 2px;
    border-color: #c6c7c7;
    border-style: solid;
    background-color: #cdcece;
    margin-left: 10px;
    padding-bottom: 0px;
}

button.rec-dot{
    visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /*If convenient we can zoom in into images*/
    /*transform   : scale(1.25);*/
}

#info{
    margin-top: 0px;
    background-color: white;
    margin-right: 0px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

