.smallCarousel{
    font-family: sans-serif;
    text-align: center;
    width: 30%;
    height: 30%;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    padding-left: 1px;
    padding-right: 5px;
    background-color: #cdcece;
    margin-left: 10px;
}

.smallCarousel button.rec-dot{
    background-color: rgb(255, 199, 8);
}

img {
    width: 100%;
    height: auto;
    /*If convenient we can zoom in into images*/
    /*transform   : scale(1.25);*/
}

