.page-con{
    display: flex;
    flex-direction: row;
}

.listings-con{
    /*border: 4px #f6bf17 solid;*/
    border-radius: 20px;
    margin-right: 5%;
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 4;
    height: 100%;
}

.filter-con{
    border: 4px #f6bf17 solid;
    display: inline-flex;
    border-radius: 20px;
    margin-right: 10px;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin-left: 5%;
    height: 100%;
}

.page-container .itemImg{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    width: 295px;
}

.itemImg{
    margin-bottom: 10px;
}

.top-bar{
    /*border: 4px blue solid;*/
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

#filters-title {
    padding-left:6%;
    flex: 1;
}

#list-area{
    flex: 3;
    display: flex;
    text-align: center;
}

#list-title{
    flex: 3;
    margin-left: 200%;
}

#sorting p{
    font-size: 1.5em;
    flex: 3;
    padding-top: 3px;
    margin-left: 20em;
}

#select-sort-by{
    border-style: none;
    margin-left: 5px;
    font-size: 0.8em;
    display: inline;
}

.bold{
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

/*Filters styling*/
.filters-title{
    font-size: 1.1em;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
}

.smallCarousel{
    height: 237px;
}
.filter{
    border: none;
    font-size:1.1em;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #ffffff;
}

.filter:hover{
    color: dodgerblue;
}

#inline-area{
    display: inline-flex;
}

.price-range{
    width: 30%;
    font-size: 1.0em;
    margin-left: 5px;
    margin-right: 5px;
}

.go{
    border-radius: 30px;
    width: 30px;
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
}

.blue{
    color: dodgerblue;
}

#page-select{
    text-align: center;
}

#page-select div{
    font-size: 1.5em;
    margin: 20px;
}