.detail-con {
    margin: 0 auto;
    width: 1000px;
    margin-top: 50px;
  }

.item-details {
    size: 5%;
    margin-left: -15%;
    position: relative;
    top: -150px;
}

.itemName {
    margin-left: 1%;
    font-size: 40px;
    position: relative;
    right: -52%;
    top: 125px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.button {
    cursor: pointer;
    position: relative;
    left: 1px;
    bottom: 4px;
    background-color: #4CAF50;
    border: #000000;
    color: black;
    padding: 8px;
    border: 2px solid #000;
    text-align: center;
    font-size: 16px;
    
}

.instantButton {
    cursor: pointer;
    position: relative;
    left: 10px;
    bottom: 4.5px;
    background-color: #FFFF00;
    border: #000000;
    color: black;
    padding: 8px;
    border: 2px solid #000;
    text-align: center;
    font-size: 16px;
    
}

.item-details img{
    height: 350px;
    width: auto;
    object-fit: contain;
}

.item-details .smallCarousel{
    border-width: 0px;
    width:50%;
}
.item-details   #info {
    visibility: hidden;
    padding-bottom: 0%;
}

.detail-con .desc{
    position: relative;
    top: -225px;
    left: 230px;
    word-wrap: break-word;
    width: 500px;
}
